@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Quicksand:wght@300..700&family=Quintessential&display=swap");
:root{
	--eri1    : #1a1a1a;
	--eri2    : #4d4d4d;
	--eri3    : #c21f80;
	--eri4    : #88ff8c;
	--eri5    : #e8e8e8;
	--eri6    : #1c1c1c;
	--eri7    : #6a0dad;
	--eri8    : #ff006e;
	--eri9    : #a3a3a3;
	--eri10   : #e4b1f4;
	--eire1   : #c9e4ff;
	--eire2   : #a1c4fd;
	--eire3   : #fff6f6;
	--eire4   : #f2d8e8;
	--eire5   : #b1e0c5;
	--eire6   : #f5e6cc;
	--eire7   : #f7b5a3;
	--eire8   : #ffd6e0;
	--eire9   : #b8e1dd;
	--eire10  : #8a817c;
	--reyi1   : #1B1B1B;
	--reyi2   : #007FFF;
	--reyi3   : #0B0C10;
	--reyi4   : #B30E2A;
	--reyi5   : #a4bfd1;
	--reyi6   : #ff663f;
	--reyi7   : #FFD447;
	--reyi8   : #00A8FF;
	--reyi9   : #5C636E;
	--reyi10  : #1B263B;
	--juli1   : #E8DCC3;
	--juli2   : #5C8374;
	--juli3   : #9DBDD6;
	--juli4   : #602437;
	--juli5   : #BFC4C6;
	--juli6   : #F1EEE9;
	--juli7   : #E7D3C5;
	--juli8   : #66461e;
	--juli9   : #77685D;
	--juli10  : #4C5C68;
	--bibi1   : #f7adc7;
	--bibi2   : #FDFDFD;
	--bibi3   : #A67B5B;
	--bibi4   : #E7CBA9;
	--bibi5   : #F7B5A3;
	--bibi6   : #F6C6C6;
	--bibi7   : #FFF4E6;
	--bibi8   : #d4497f;
	--bibi9   : #A07855;
	--bibi10  : #C8C9A3;
	--mathy1  : #3B2F2F;
	--mathy2  : #556B2F;
	--mathy3  : #D8C4A4;
	--mathy4  : #4E2A2A;
	--mathy5  : #cc6052;
	--mathy6  : #4E342E;
	--mathy7  : #D7CCC8;
	--mathy8  : #2E4A36;
	--mathy9  : #993b3b;
	--mathy10 : #8D8C87;
	--vanes1  : #7FB77E;
	--vanes2  : #FFF7D1;
	--vanes3  : #522b11;
	--vanes4  : #F8F4E3;
	--vanes5  : #EAC435;
	--vanes6  : #A8BBA1;
	--vanes7  : #F5F3EB;
	--vanes8  : #B78752;
	--vanes9  : #A9B8C0;
	--vanes10 : #ffce1b;
}

* {
	transition: all .2s;
}
h1, h2 {
	font-family: Limelight;
}
h3, h4, h5, h6 {
	font-family: Quintessential;
}
p, i, b, em, li, td, th, tr, footer, a {
	font-family: Quicksand;
}

body {
	background-color: var(--mathy10);
}

header {
	margin: 10px auto;
	background-image: url("../media/mainHeader.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 10%;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 50px;
	color: var(--vanes7);
	text-shadow: 0 0 25px var(--eire5);
}

header img {
	border-radius: 50%;
	width: 250px;
	padding: auto;
	margin: auto;
}

header h1{
	font-size: 40px;
	margin: 0;
}

nav {
	margin: 10px auto;
	background-color: var(--vanes5);
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

nav #logo {
	display: flex;
	align-items: center;
	gap: 10px;
	text-align: center;
}
#logo p{
	width: 60px;
	margin-right: 10px;
	font-weight: bolder;
}

#logo img {
	margin-left: 10px;
	width : 75px;
	height: 75px;
}

nav a {
	padding: 1.4%;
	color: var(--eri1);
	text-decoration: none;
}
nav #active{
	background-color: var(--eri1);
	color: var(--eri4);
}


nav a:hover {
	background-color: var(--eri1);
	color: var(--vanes10);
}
#active:hover {
	background-color: var(--eri1);
	color: var(--vanes8);
}

main {
	margin: auto;
	padding: 1%;
	background-color: var(--vanes3);
	color: var(--bibi4);
}

footer{
	margin: 10px auto;
	padding: 1%;
	background-color: var(--vanes5);
	color: var(--eri1);
}

@media (min-width: 768px){
	header {
	margin: 10px auto;
	padding: 10%;
	gap: 50px;
	}

	header img {
		border-radius: 50%;
		width: 250px;
		padding: auto;
		margin: auto;
	}

	header h1{
		font-size: 40px;
		margin: 0;
	}

	nav {
		margin: 10px auto;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}

	nav #logo {
		display: flex;
		align-items: center;
		gap: 10px;
		text-align: left;
		padding: 1%;
	}

	#logo img {
		width : 50px;
		height: 50px;
	}

	nav a {
		padding: auto;
	}

	main {
		margin: auto;
		padding: 1%;
	}

	footer{
		margin: 10px auto;
		padding: 1%;
	}
}

@media (min-width: 1024px){
	header {
		margin: 10px auto;
		padding: 1%;
		padding: 10%;
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 50px;
	}
	
	header img {
		border-radius: 50%;
		width: 250px;
		padding: auto;
		margin: auto;
	}
	header h1 {
		font-size: 75px;
		margin: 0;
	}
	nav {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
	}
	
	nav #logo {
		display: flex;
		align-items: center;
		text-align: left;
		padding: 0;
		margin: 0;
	}
	
	#nav img {
		margin: 0;
		width : 50px;
		height: 50px;
	}
	
}