@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Quicksand:wght@300..700&family=Quintessential&display=swap");
:root{
	--eri1: #1a1a1a;
	--eri2: #4d4d4d;
	--eri3: #c21f80;
	--eri4: #88ff8c;
	--eri5: #e8e8e8;
	--eri6: #1c1c1c;
	--eri7: #6a0dad;
	--eri8: #ff006e;
	--eri9: #a3a3a3;
	--eri10: #e4b1f4;
	--eire1: #c9e4ff;
	--eire2: #a1c4fd;
	--eire3: #fff6f6;
	--eire4: #f2d8e8;
	--eire5: #b1e0c5;
	--eire6: #f5e6cc;
	--eire7: #f7b5a3;
	--eire8: #ffd6e0;
	--eire9: #b8e1dd;
	--eire10: #8a817c;
}

* {
	transition: all .2s;
}
h1, h2 {
	font-family: Limelight;
}
h3, h4, h5, h6 {
	font-family: Quintessential;
}
p, i, b, em, li, td, th, tr, footer, a {
	font-family: Quicksand;
}

body {
	background-color: var(--eire4);
}

header{
	margin: 10px auto;
	padding: 1%;
	background-image: url("../media/mainHeader.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 10%;
	color: var(--eire5);
	text-align: center;
}

nav img {
	margin: auto 10px;
	width : 65px;
	height: 65px;
}

header img {
	border-radius: 50%;
	width: 250px;
	padding: auto;
	margin: auto;
}

nav {
	margin: 10px auto;
	background-color: var(--eire2);
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

nav img {
	margin: auto 10px;
	width : 65px;
	height: 65px;
}

nav a {
	padding: 1.4%;
	color: var(--eri1);
	text-decoration: none;
}
nav #active{
	background-color: var(--eri1);
	color: var(--eri4);
}


nav a:hover {
	background-color: var(--eri1);
	color: var(--eire7);
}
#active:hover {
	background-color: var(--eri1);
	color: var(--eire7);
}

main {
	margin: auto;
	padding: 1%;
	background-color: var(--eri3);
	color: var(--eire4);
}

footer{
	margin: 10px auto;
	padding: 1%;
	background-color: var(--eire2);
	color: var(--eri1);
}