@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Coral+Pixels&family=Felipa&family=Julius+Sans+One&family=Just+Me+Again+Down+Here&family=Limelight&family=Mouse+Memoirs&family=Quicksand:wght@300..700&family=Quintessential&family=Splash&display=swap");
:root{
	--eri1    : #1a1a1a;
	--eri2    : #4d4d4d;
	--eri3    : #c21f80;
	--eri4    : #88ff8c;
	--eri5    : #e8e8e8;
	--eri6    : #1c1c1c;
	--eri7    : #6a0dad;
	--eri8    : #ff006e;
	--eri9    : #a3a3a3;
	--eri10   : #e4b1f4;
	--eire1   : #c9e4ff;
	--eire2   : #a1c4fd;
	--eire3   : #fff6f6;
	--eire4   : #f2d8e8;
	--eire5   : #b1e0c5;
	--eire6   : #f5e6cc;
	--eire7   : #f7b5a3;
	--eire8   : #ffd6e0;
	--eire9   : #b8e1dd;
	--eire10  : #8a817c;
	--reyi1   : #1B1B1B;
	--reyi2   : #007FFF;
	--reyi3   : #0B0C10;
	--reyi4   : #B30E2A;
	--reyi5   : #a4bfd1;
	--reyi6   : #E43D12;
	--reyi7   : #FFD447;
	--reyi8   : #00A8FF;
	--reyi9   : #5C636E;
	--reyi10  : #1B263B;
	--juli1   : #E8DCC3;
	--juli2   : #5C8374;
	--juli3   : #9DBDD6;
	--juli4   : #602437;
	--juli5   : #BFC4C6;
	--juli6   : #F1EEE9;
	--juli7   : #E7D3C5;
	--juli8   : #BBAE9E;
	--juli9   : #77685D;
	--juli10  : #4C5C68;
	--bibi1   : #F8BBD0;
	--bibi2   : #FDFDFD;
	--bibi3   : #A67B5B;
	--bibi4   : #E7CBA9;
	--bibi5   : #F7B5A3;
	--bibi6   : #F6C6C6;
	--bibi7   : #FFF4E6;
	--bibi8   : #7C3846;
	--bibi9   : #A07855;
	--bibi10  : #C8C9A3;
	--mathy1  : #3B2F2F;
	--mathy2  : #556B2F;
	--mathy3  : #D8C4A4;
	--mathy4  : #4E2A2A;
	--mathy5  : #3B2F2F;
	--mathy6  : #4E342E;
	--mathy7  : #D7CCC8;
	--mathy8  : #2E4A36;
	--mathy9  : #5E2C2C;
	--mathy10 : #8D8C87;
	--vanes1  : #7FB77E;
	--vanes2  : #FFF7D1;
	--vanes3  : #D99263;
	--vanes4  : #F8F4E3;
	--vanes5  : #EAC435;
	--vanes6  : #A8BBA1;
	--vanes7  : #F5F3EB;
	--vanes8  : #B78752;
	--vanes9  : #A9B8C0;
	--vanes10 : #ffce1b;
}

* {
	transition: all .2s;
}
h1, h2 {
	font-family: Limelight;
}
h3, h4, h5, h6 {
	font-family: Quintessential;
}
p, i, b, em, li, td, th, tr, footer, a {
	font-family: Quicksand;
}

body {
	background-color: var(--eire4);
}

header{
	margin: 10px auto;
	padding: 1%;
	background-image: url("../media/mainHeader.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 10%;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 50px;
	font-size: 44px;
	color: var(--eire3);
	text-shadow: 0 0 25px var(--eri8);
}

header img {
	border-radius: 50%;
	width: 250px;
	padding: auto;
	margin: auto;
}

nav {
	margin: 10px auto;
	background-color: var(--eire2);
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

nav img {
	margin: auto 10px;
	width : 65px;
	height: 65px;
}

nav a {
	padding: 1.4%;
	color: var(--eri1);
	text-decoration: none;
}
nav #active{
	background-color: var(--eri1);
	color: var(--eri4);
}


nav a:hover {
	background-color: var(--eri1);
	color: var(--eire7);
}
#active:hover {
	background-color: var(--eri1);
	color: var(--eire7);
}

main {
	padding: 5%;
}

.ecoClub {
	margin: 1% auto;
	padding: 1%;
	background-color: var(--eri3);
	color: var(--eire4);
}

.ecoClub h1 {
	font-size: 44px;
	padding: 0;
	margin: 0;
	margin-top: 25px;
}

.ecoClub img {
	float: right;
}

/* 1: Érika */

.érika {
	background-color: var(--eri1);
	color: var(--eri4);
}

.érika h1, h2 {
	font-family: splash;
}

/* 2: Eirene */

.eirene {
	background-color: var(--eire2);
	color: var(--eire3);
}

.eirene h1, h2 {
	font-family: Felipa
	;
}

/* 3: Ricardo */

.ricardo {
	background-color: var(--eire5);
	color: var(--eri1);
}

.ricardo h1, h2 {
	font-family: Bangers;
}

/* 4: ???*/

.julian {
	background-color: var(--eire7);
	color: var(--eri6);
}

.julian h1, h2 {
	font-family: "Coral Pixels"
	;
}

/* 5: ???*/

.bianca {
	background-color: var(--eri3);
	color: var(--eri10);
}

.bianca h1, h2 {
	font-family: Just Me Again Down Here;
}

/* 6: ???*/

.thiago {
	background-color: var(--eri6);
	color: var(--eire2);
}

.thiago h1, h2 {
	font-family: Julius Sans One
	;
}

/* 7: ???*/

.vanessa {
	background-color: var(--eri7);
	color: var(--eire8);
}

.vanessa h1, h2 {
	font-family: Mouse Memoirs

	;
}

footer {
	margin: 10px auto;
	padding: 1%;
	background-color: var(--eire2);
	color: var(--eri1);
}

@media (min-width: 2560px){
	header{
		margin: 10px auto;
		padding: 1%;
		background-image: url("../media/mainHeader.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		padding: 10%;
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 50px;
		font-size: 44px;
		color: var(--eire3);
		text-shadow: 0 0 25px var(--eri8);
	}

	header img {
		border-radius: 50%;
		width: 250px;
		padding: auto;
		margin: auto;
	}

	nav {
		margin: 10px auto;
		background-color: var(--eire2);
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

	nav img {
		margin: auto 10px;
		width : 65px;
		height: 65px;
	}

	nav a {
		padding: 1.4%;
		color: var(--eri1);
		text-decoration: none;
	}

}