@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Coral+Pixels&family=Felipa&family=Julius+Sans+One&family=Just+Me+Again+Down+Here&family=Limelight&family=Mouse+Memoirs&family=Quicksand:wght@300..700&family=Quintessential&family=Splash&display=swap");
:root{
	--eri1: #1a1a1a;
	--eri2: #4d4d4d;
	--eri3: #c21f80;
	--eri4: #88ff8c;
	--eri5: #e8e8e8;
	--eri6: #1c1c1c;
	--eri7: #6a0dad;
	--eri8: #ff006e;
	--eri9: #a3a3a3;
	--eri10: #e4b1f4;
	--eire1: #c9e4ff;
	--eire2: #a1c4fd;
	--eire3: #fff6f6;
	--eire4: #f2d8e8;
	--eire5: #b1e0c5;
	--eire6: #f5e6cc;
	--eire7: #f7b5a3;
	--eire8: #ffd6e0;
	--eire9: #b8e1dd;
	--eire10: #8a817c;
}

* {
	transition: all .2s;
}
h1, h2 {
	font-family: Limelight;
}
h3, h4, h5, h6 {
	font-family: Quintessential;
}
p, i, b, em, li, td, th, tr, footer, a {
	font-family: Quicksand;
}

body {
	background-color: var(--eire4);
}

header{
	margin: 10px auto;
	padding: 1%;
	background-image: url("../media/mainHeader.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 10%;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 50px;
	font-size: 44px;
	color: var(--eire3);
	text-shadow: 0 0 25px var(--eri8);
}

header img {
	border-radius: 50%;
	width: 250px;
	padding: auto;
	margin: auto;
}

nav {
	margin: 10px auto;
	background-color: var(--eire2);
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

nav img {
	margin: auto 10px;
	width : 65px;
	height: 65px;
}

nav a {
	padding: 1.4%;
	color: var(--eri1);
	text-decoration: none;
}
nav #active{
	background-color: var(--eri1);
	color: var(--eri4);
}


nav a:hover {
	background-color: var(--eri1);
	color: var(--eire7);
}
#active:hover {
	background-color: var(--eri1);
	color: var(--eire7);
}

main {
	padding: 5%;
}

.ecoClub {
	margin: 1% auto;
	padding: 1%;
	background-color: var(--eri3);
	color: var(--eire4);
}

.ecoClub h1 {
	font-size: 44px;
	padding: 0;
	margin: 0;
	margin-top: 25px;
}

.ecoClub img {
	float: right;
}

/* 1: Érika */

.érika {
	background-color: var(--eri1);
	color: var(--eri4);
}

.érika h1, h2 {
	font-family: splash;
}

/* 2: Eirene */

.eirene {
	background-color: var(--eire2);
	color: var(--eire3);
}

.eirene h1, h2 {
	font-family: Felipa
	;
}

/* 3: Ricardo */

.ricardo {
	background-color: var(--eire5);
	color: var(--eri1);
}

.ricardo h1, h2 {
	font-family: Bangers;
}

/* 4: ???*/

.julian {
	background-color: var(--eire7);
	color: var(--eri6);
}

.julian h1, h2 {
	font-family: "Coral Pixels"
	;
}

/* 5: ???*/

.bianca {
	background-color: var(--eri3);
	color: var(--eri10);
}

.bianca h1, h2 {
	font-family: Just Me Again Down Here;
}

/* 6: ???*/

.thiago {
	background-color: var(--eri6);
	color: var(--eire2);
}

.thiago h1, h2 {
	font-family: Julius Sans One
	;
}

/* 7: ???*/

.vanessa {
	background-color: var(--eire2);
	color: var(--eire3);
}

.vanessa h1, h2 {
	font-family: Mouse Memoirs

	;
}

footer {
	margin: 10px auto;
	padding: 1%;
	background-color: var(--eire2);
	color: var(--eri1);
}

@media (min-width: 2560px){
	header{
		margin: 10px auto;
		padding: 1%;
		background-image: url("../media/mainHeader.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		padding: 10%;
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 50px;
		font-size: 44px;
		color: var(--eire3);
		text-shadow: 0 0 25px var(--eri8);
	}

	header img {
		border-radius: 50%;
		width: 250px;
		padding: auto;
		margin: auto;
	}

	nav {
		margin: 10px auto;
		background-color: var(--eire2);
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

	nav img {
		margin: auto 10px;
		width : 65px;
		height: 65px;
	}

	nav a {
		padding: 1.4%;
		color: var(--eri1);
		text-decoration: none;
	}

}